#CLERK
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
CLERK_SECRET_KEY=sk_test_your_clerk_secret_key

#DEPLOY LINKS
PAYMENT_DEPLOY_PATH=https://your-payment-deploy-url.vercel.app/
SELLER_DEPLOY_PATH=https://your-seller-deploy-url.vercel.app/
BUYER_DEPLOY_PATH=https://your-buyer-deploy-url.vercel.app/
SHIPPING_DEPLOY_APP=https://your-shipping-deploy-url.vercel.app/

#SELLER KEYS
SHIPPING_API_KEY="your_shipping_api_key"
PAYMENTS_API_KEY="your_payments_api_key"
BUYER_API_KEY="your_buyer_api_key"
SELLER_API_KEY="your_seller_api_key"

#PAYMENTS KEYS
CHECKOUT_API_KEY=your_checkout_api_key
TRANSACTIONS_API_KEY=your_transactions_api_key
DISPUTES_API_KEY=your_disputes_api_key

#SHIPPING KEYS
SHIPPING_DIRECT_KEY=your_shipping_direct_key
